/* Variables */
* {
    all: unset;
    transition: 350ms;
  }
  
  $bg: #121013;
  $bg-alt: #171518;
  $fg: #f0f0f0;
  $fg-alt: #cacaca;
  $fg-alt2: #a0a0a0;
  $black: #262626;
  $gray: #3F3F3F;
  $red: #dd6777;
  $orange: #CE9288;
  $green: #9ec49f;
  $yellow: #ceb188;
  $blue: #87ADEB;
  $magenta: #c49ec4;
  $cyan: #9ec3c4;
  $white: #ffffff;

@import "bar/bar.scss";
@import "central/central.scss";
@import "notifications/notifications.scss";
@import "volume/volume.scss";
@import "power/power.scss"
